html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  border: 0;
  display: block;
}

img {
  position: absolute;
  top: 4px;
  width: 35px;
  left: 8px;
}

header, footer {
  height: 5%;
}

#root {
  height: calc(90%);
  overflow: hidden;
}

.awssld__bullets button {
  width: 9px !important;
  height: 9px !important;
}


header { 
  box-sizing: border-box;
  text-align: center;
  box-shadow: 0px 25px 25px -9px rgba(142, 109, 136, 0.31);
  line-height: 37px;
  background-color: #f5f5f5;
}

footer {
  font-size: smaller;
  background-color: red;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 5px solid black;
}

video{
  object-fit: cover;
}

.text-vid-container {
  margin: 3%;
  margin-top: 40px;
  height: 45%;
  margin-bottom: 0;
  display: flex;
  flex-direction: row;
}

.text-container , .video-container{
  flex: auto;
}

.video-container{
  text-align: center;
}

#sub_1 {
  font-weight: 600;
  font-size: x-large;
}

#sub_2 {
  font-weight: 100;
  font-size: larger;
}

#sub_3 {
  font-weight: 100;
  font-size: larger;
}

.timer-react{
  font-weight: 600;
  font-size: x-large;
  color: red;
  margin-top: -2%;
}

.areaforads-container {
  height: 50%;
  width: 47%;
  margin: auto;
}

.title-logo {
  width: 50vw;
  height: 10vh;
  background: url("../img/prescribe_logo.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  opacity: 1;
  position: absolute;
  top: 15vh;
  left: 20vw;
  overflow: hidden;
}

#logo_header {
  font-weight: 600;
  position: absolute;
  left: 47px;
  top: -8px;
  font-size: large;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.subtitle-expl{
  width: 70vw;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 25vh;
  left: 15vw;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 3vh;
  opacity: 1;
  text-align: center;
}

.chrome-available-container{
  top: 45vh;
  position: absolute;
  height: 10vh;
  width: 100vw;
}

.continue-browser-container{
  top: 60vh;
  position: absolute;
  height: 10vh;
  width: 100vw;
}

.download-chrome{
  width: 70vw;
  left: 15vw;
  height: 5vh;
  bottom: 2vh;
  color: rgba(0,0,0,1);
  position: absolute;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 2vh;
  opacity: 1;
  text-align: center;
}

#chrome-logo-continaer{
  width: 20vw;
  height: 10vh;
  display: block;
  background: url("../img/chrome.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 5vw;
  overflow: hidden;
}


.chrome-routing-text{
  width: 50vw;
  left:30vw;
  bottom: 2vh;
  position: absolute;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 2vh;
  opacity: 1;
  text-align: left;
}

#continue-browser-logo{
  width: 20vw;
  display: block;
  height: 10vh;
  background: url("../img/globe.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 5vw;
  overflow: hidden;
}

.continue-browser-text{
  width: 50vw;
  left:30vw;
  bottom: 2vh ;
  position: absolute;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 2vh;
  opacity: 1;
  text-align: left;
}

a{
  text-decoration: none;
  color: blue;
}

div.mid-info{
  position: absolute;
  top: 50vh;
  width: 100vw;
  height: 10vh;
  font-family: Roboto;
  font-weight: Regular;
  text-align: center;
  font-size: 5vh;
  vertical-align: center;
}

.container {
  height: calc(50vh - 16px) !important;
}

@media only screen and (max-width: 800px) {
  #sub_1 {
    font-weight: 600;
    font-size: large;
}

#sub_2 {
  font-weight: 100;
  font-size: medium;
  padding-top: 15%;
}

#sub_3 {
  font-weight: 100;
  font-size: medium;
}

.timer-react{
  font-weight: 600;
  font-size: large;
  color: red;
  margin-top: -2%;
}

#logo_header {
  visibility: hidden;
}

.areaforads-container {
  height: 50%;
  width: 68%;
  margin: auto;
  padding-top: 2%;
}

video{
  transform: rotate(270deg);
}
}

@media only screen and (max-width: 374px) {

video {
  position: relative;
  left: -16vw;
  top: 6vh;
  width: 251px;
  height: 133px;
}

.mobile-vid-container{
  width: 50%;
}
.video-container{
  width: 50%;
}
.text-container{
  width: 50%;
}
.areaforads-container {
  height: 50%;
  width: 90%;
  margin: auto;
  padding-top: 18%;
}

header {
  line-height: 37px;
}

.container .cards_container .card_container {
  width: 70vw !important;
  height: 22vh !important;
}

}

@media only screen and (min-width: 375px) and (max-width: 767px) {

  video {
  position: relative;
  left: -6vw;
  top: 7vh;
  width: 251px;
  height: 133px;
}

.mobile-vid-container{
  width: 50%;
}
.video-container{
  width: 50%;
}
.text-container{
  width: 50%;
}

.areaforads-container {
  height: 50%;
  width: 87%;
  margin: auto;
  padding-top: 8%;
}

.container .cards_container .card_container {
  width: 70vw !important;
  height: 22vh !important;
}

header {
  line-height: 37px;
}

}


@media only screen and (min-width: 1025px) {

  .areaforads-container{
    height: 50%;
    width: 50%;
  }

  header{
  line-height: 42px;
  }
}

@media only screen and (max-height: 650px){

  .areaforads-container {
    padding-top: 2%;
}

  .container .cards_container .card_container{
    height: 24vh !important;
    width: 70vw !important;
  }


}

